$primary-color: #75BC5C;
$danger-color: #EB4030;

$background-primary-color: #FAFAFA;
$background-secondary-color: #2F303D;
$background-secondary-light-color: #434452;

$text-white: #FAFAFA;
$text-dark: #333333;
$text-dark-muted: #555555;

$tab-highlight-color: #AABBDD;
