@import './colors';

.bookmark-cell {
  padding: 0.5em;
  margin: 0.25em;
  border: 1px solid $background-secondary-light-color;

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  .bookmark-title {
    font-weight: 700;
    font-size: 1.25em;
  }

  .bookmark-uri {
    padding: 0 0.5em;

    color: $text-dark-muted;
  }

  .bookmark-tags {
    padding: 0.5em 0 0;

    font-size: 0.825em;
  }

  .bookmark-tag {
    background-color: $tab-highlight-color;
    border-radius: 1em; /* This is larger than 50% height, it'll scale down */

    padding: 0.25em 0.625em;
    margin-inline-end: 0.25em;
  }
}
