@import './colors';

.mn-header {
  grid-area: header;

  min-height: 3rem;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  background-color: $background-secondary-color;

  .mn-brand {
    flex: 1 1 100%;
    margin: 0.5em;

    color: $primary-color;
    font-size: 1.2em;
    font-weight: 300;
    font-style: italic;
  }
}
