// Colours
$color-accent: #e54b4b;
$color-primary: #3c485e;
$color-primary-dark: #2d364e;
$color-primary-light: #a7bbc3;
$color-off-white: #e9e8d4;
$color-white: #f7f5ee;

// Mapping
$background-dark: $color-primary;
$background-darker: $color-primary-dark;
$background-light: $color-off-white;
$background-highlight: $color-primary-light;
$background-accent: $color-accent;

$text-dark: $color-primary-dark;
$text-light: $color-white;
$text-accent: $color-accent;
