@import './colors';

.bookmark-cell {
  padding: 1em 1.5em;
  margin: 0.5em 0 0.75em;
  border-bottom: 1px solid $border-light;
  background-color: $background-lighter;

  a {
    // TODO: Implement some form of differentiation for links
    color: inherit; /* default colors for links too */
    text-decoration: inherit; /* no underline */
  }

  .bookmark-title {
    font-weight: 700;
    font-size: 1.5em;
  }

  .bookmark-uri {
    padding: 0 0.5em;

    color: $text-accent;
  }

  .bookmark-tags {
    padding: 0.5em 0 0;

    font-size: 0.825em;
    font-weight: 700;
    color: $text-light;
  }

  .bookmark-tag {
    background-color: $background-accent;
    border-radius: 1em; /* This is larger than 50% height, it'll scale down */

    padding: 0.25em 0.625em;
    margin-inline-end: 0.25em;
  }
}
