@import './colors';

.bookmark-search {
  grid-area: bookmark-search;

  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;

  background-color: $background-light;
  color: $text-dark;

  .search-input {
    flex: 1;

    font-size: 1.25rem;
    margin: 0.5em;
  }
}
