@import './colors';

.mnemosyne {
  display: grid;
  grid:
    [header-start] "header bookmark-search details-pane" auto [header-end]
    [body-start] "sidebar bookmark-list details-pane" 1fr [body-end]
    / 20rem 1fr auto;
  gap: 0;
  place-items: stretch;

  height: 100vh;

  color: $text-dark;
}
